<div id="movie-tiles" class="row">


  <!-- Just delete this, just an example on how to get out filters -->
  <% unless @filters.nil? %>
      <p>size<%= @filters.size %></p>
      <% @filters.each do |filter| %>
        <p><%=filter%></p>
      <% end %>
  <% end %>



  
  <% movie_ids = []
     index = 1
     random_movies(12).each do |movie|
       if index % 4 == 1 %>
          <div class="row">
       <% end %>
        <div id="<%= movie['imdbID'] %>" class="col s3 movie-tile">
        </div>
     <% movie_ids << movie['imdbID']
        if index % 4 == 0 %>
           </div>
     <% end
       index += 1
  end %>
</div>
<script>
    // Not exactly optimal
    var getMovieDetailsFor = <%= raw movie_ids %>;
</script>
