  <div class="row">
    <div class="col s2">
      <a id=action" class="waves-effect waves-light blue-grey btn">Action</a>
    </div>
    <div class="col s2">
      <a id=adventure" class="waves-effect waves-light blue-grey btn">Adventure</a>
    </div>
    <div class="col s2">
      <a id=animation" class="waves-effect waves-light blue-grey btn">Animation</a>
    </div>
    <div class="col s2">
      <a id=biography" class="waves-effect waves-light blue-grey btn">Biography</a>
    </div>
    <div class="col s2">
      <a id=documentary" class="waves-effect waves-light blue-grey btn">Documentary</a>
    </div>
    <div class="col s2">
      <a id=drama" class="waves-effect waves-light blue-grey btn">Drama</a>
    </div>
  </div>

  <div class="row">
    <div class="col s2">
      <a id=family" class="waves-effect waves-light blue-grey btn">Family</a>
    </div>
    <div class="col s2">
      <a id=fantasy" class="waves-effect waves-light blue-grey btn">Fantasy</a>
    </div>
    <div class="col s2">
      <a id=history" class="waves-effect waves-light blue-grey btn">History</a>
    </div>
    <div class="col s2">
      <a id=horror" class="waves-effect waves-light blue-grey btn">Horror</a>
    </div>
    <div class="col s2">
      <a id=musical" class="waves-effect waves-light blue-grey btn">Musical</a>
    </div>
    <div class="col s2">
      <a id=mystery" class="waves-effect waves-light blue-grey btn">Mystery</a>
    </div>
  </div>

  <div class="row">
    <div class="col s2">
      <a id=romance" class="waves-effect waves-light blue-grey btn">Romance</a>
    </div>
    <div class="col s2">
      <a id=sci-fi" class="waves-effect waves-light blue-grey btn">Sci-fi</a>
    </div>
    <div class="col s2">
      <a id=sport" class="waves-effect waves-light blue-grey btn">Sport</a>
    </div>
    <div class="col s2">
      <a id=thriller" class="waves-effect waves-light blue-grey btn">Thriller</a>
    </div>
    <div class="col s2">
      <a id=war" class="waves-effect waves-light blue-grey btn">War</a>
    </div>
    <div class="col s2">
      <a id=western" class="waves-effect waves-light blue-grey btn">Western</a>
    </div>
  </div>

  <a id="big-button" class="waves-effect waves-light blue-grey btn">Go</a>