<div class="container">
  <div class="row">
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
  </div>

  <div class="row">
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
  </div>

  <div class="row">
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
    <div class="col s3">
      <a class="waves-effect waves-light blue-grey btn">Category</a>
    </div>
  </div>

  <div class="row">
    <div class="col s3">
      <a id="big-button" class="waves-effect waves-light blue-grey btn">Go</a>
    </div>
  </div>
</div>
