<div id="filter-wrapper">
  <div class="row">
    <div class="col s2">
      <a id="action" class="waves-effect waves-light blue-grey btn btn-genre">Action</a>
    </div>
    <div class="col s2">
      <a id="adventure" class="waves-effect waves-light blue-grey btn btn-genre">Adventure</a>
    </div>
    <div class="col s2">
      <a id="animation" class="waves-effect waves-light blue-grey btn btn-genre">Animation</a>
    </div>
    <div class="col s2">
      <a id="biography" class="waves-effect waves-light blue-grey btn btn-genre">Biography</a>
    </div>
    <div class="col s2">
      <a id="documentary" class="waves-effect waves-light blue-grey btn btn-genre">Documentary</a>
    </div>
    <div class="col s2">
      <a id="drama" class="waves-effect waves-light blue-grey btn btn-genre">Drama</a>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <a id="family" class="waves-effect waves-light blue-grey btn btn-genre">Family</a>
    </div>
    <div class="col s2">
      <a id="fantasy" class="waves-effect waves-light blue-grey btn btn-genre">Fantasy</a>
    </div>
    <div class="col s2">
      <a id="history" class="waves-effect waves-light blue-grey btn btn-genre">History</a>
    </div>
    <div class="col s2">
      <a id="horror" class="waves-effect waves-light blue-grey btn btn-genre">Horror</a>
    </div>
    <div class="col s2">
      <a id="musical" class="waves-effect waves-light blue-grey btn btn-genre">Musical</a>
    </div>
    <div class="col s2">
      <a id="mystery" class="waves-effect waves-light blue-grey btn btn-genre">Mystery</a>
    </div>
  </div>
  <div class="row">
    <div class="col s2">
      <a id="romance" class="waves-effect waves-light blue-grey btn btn-genre">Romance</a>
    </div>
    <div class="col s2">
      <a id="sci-fi" class="waves-effect waves-light blue-grey btn btn-genre">Sci-fi</a>
    </div>
    <div class="col s2">
      <a id="sport" class="waves-effect waves-light blue-grey btn btn-genre">Sport</a>
    </div>
    <div class="col s2">
      <a id="thriller" class="waves-effect waves-light blue-grey btn btn-genre">Thriller</a>
    </div>
    <div class="col s2">
      <a id="war" class="waves-effect waves-light blue-grey btn btn-genre">War</a>
    </div>
    <div class="col s2">
      <a id="western" class="waves-effect waves-light blue-grey btn btn-genre">Western</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <a id="big-button" class="waves-effect waves-light blue-grey btn">Go</a>
    </div>
  </div>
</div>