/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require materialize
 *= require material_icons
 *= require_self
 */
body {
    background-color: #455a64;
    color: #ffffff;
}
.turbolinks-progress-bar {
    background-color: #f00;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1001;
    right: 24px;
    bottom: -28px;
}
.preloader-wrapper.loader-btn-watchlist {
    width: 56px;
    height: 56px;
}
.preloader-wrapper.xl {
    width: 128px;
    height: 128px;
}
.preloader-wrapper.xxl {
    width: 256px;
    height: 256px;
}