.row:nth-child(odd){
  margin-top: 100px;
  margin-bottom: 100px;
}

.row:nth-child(even){
}

.btn{
  font-size: large !important;
  padding: 30px !important;
  width: 200px !important;
  height: 100px !important;
  text-transform: capitalize !important;
}

#big-button{
  left: 35%;
  width: 400px !important;
}