#filter-wrapper{
  padding-top: 10%;
  margin: 0 auto;
  width: 80%;
}

#title{
  text-align: center;
}

.btn-genre{
  line-height: 75px !important;
  margin-bottom: 10px !important;
  font-size: large !important;
  width: 100% !important;
  height: 100% !important;
  text-transform: capitalize !important;
}


#big-button{
  font-size: 200%;
  position: relative;
  text-align: center;
  line-height: 100px;
  text-transform: capitalize;
  height: 100%;
  width: 100%;
}