.row .col{
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 0 !important;
}

h3{
  margin-top: 0 !important;
  align-self: center;
}
#movie-tiles > .row:nth-child(2n+1), .movie-tile .card-content .row, .movie-tile .card-content .row p {
  margin: 0;
}
