$watchlist-text-color: #202020;

#profile-header {
  text-align: center;
}

.watchlist {
  background: blue;
  width: 85%;
  margin: auto;

  #watchlist-header {
    color: $watchlist-text-color;
    text-align: center;
    border-bottom: solid 1px #808080;
  }

  .watchlist-item-title {
    color: $watchlist-text-color;
    font-size: 20px;
  }

  .watchlist-item-year {
    color: $watchlist-text-color;
    font-size: 16px;
  }
  .watchlist-item-removelink {
    font-size: 22px;
  }
}
