#profile-header {
  text-align: center;
}

.watchlist {
  width: 85%;
  margin: auto;
  color: white;

  #watchlist-header {
    background-color: #2E2F30;
    text-align: center;
    border-bottom: solid 1px white;
  }

  .watchlist-item-title {
    font-size: 20px;
  }

  .watchlist-item-small {
    font-size: 16px;
  }
  .watchlist-item-removelink {
    color: white;
    font-size: 22px;
  }
}
