<!-- Prints movie details from movie_controller -->
<div id="movie" class="row">
  <div class="col s12">
    <h1 class="title center-align"><%= @movie["Title"] %></h1>
    <div class="col m6">
      <img class="right" src="<%= @movie["Poster"] %>" alt="">
    </div>
    <div class="col m6">
      <p><i class="material-icons yellow-text">star_rate</i><%= @movie['imdbRating'] %>/10</p>
      <p><%= @movie['Plot'] %></p>
    </div>
  </div>
</div>
