<h1 class="error-title">Not logged in</h1>
<p class="error-text">It seems you are not logged in. In order to access this page you you need to log in.</p>
<p class="error-text">If you have no account, you can click <%= link_to 'here', new_user_path %> to register new account.</p>
<p class="error-text">If you do not want to log in you can go <%= link_to 'here', front_page_path %> to back to the front page.