<h1 class="error-title">Not admin</h1>
<p class="error-text">In order to access this page you need admin-privileges, which you do not have.</p>
<p class="error-text">Click <%= link_to 'here', front_page_path %> to go back to the front page.</p>