<h1>Not logged in!</h1>
<br>
<p>You need to log in to your user to access this page</p>

<br><br>
<p>If you have no account, you can click here to <%= link_to 'register new account', new_user_path %></p>
<p>Click here to go back to the <%= link_to 'front page', front_page_path %> </p>