<h1>My profile</h1>

<br>
<h2>Watchlist</h2>
<% if @movie_map.empty? %>
    <p>No movies were found.</p>
<% else %>

    <% @movie_map.each do |imdb_id, json| %>
        <p><%= json['Title'] %></p>
        <p><%= json['Year'] %></p>
        <%= link_to 'Remove', delete_path(:imdb_id => imdb_id),controller: 'watchlist', :method => :delete %>
    <% end %>

<% end %>