<h1>My profile</h1>

<br>
<h2>Watchlist</h2>
<% if @movie_json.nil? %>
    <p>No movies were found.</p>
<% else %>

    <% @movie_json.each do |json| %>
        <p><%= json.to_s %></p>
        <p><%= json["Title"] %></p>
        <p><%= json["Year"] %></p>
    <% end %>

<% end %>