<div id="logout-modal" class="modal small">
  <div class="modal-content">
    <%= link_to 'Logout', logout_session_path, {class: "modal-action modal-close waves-effect waves-light btn-flat"} %>
  </div>
</div>