<%= render 'nav/login' %>
<%= render 'nav/logout' %>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div id="brand">
        <%= link_to root_path, :class => 'brand-logo waves-effect waves-light' do %>
            <i class="material-icons md-36">movie</i>RMDB
        <% end %>
      </div>
      <div id="search-form" style="display: none;">
        <form>
          <div class="input-field">
            <input id="search" type="search" autocomplete="off">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
      <ul id="menu" class="right">
        <li id="toggle-search">
          <a class="waves-effect waves-light"><i class="material-icons">search</i></a>
        </li>
        <% if session[:user_id].nil? %>
            <li id="login">
              <a class="waves-effect waves-light"><i class="material-icons">person</i></a>
            </li>
        <% else %>
            <li id="logout">
              <a class="waves-effect waves-light">Logout</a>
            </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>